<div class="row">
  <div class="col-sm-12">
    <h3>Send a request</h3>
    <p class="lead alert alert-info">
      The request will be recieved by a "client-application" which will direct it to a "service-application".
      The "service-application" responds after the user specified delay.
    </p>

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="messageModel" (ngSubmit)="sendMessage(messageModel.value)">

      <div class="form-group row">
        <label for="payload" class="col-sm-2 col-form-label">Payload</label>
        <div class="col-sm-10">
          <textarea class="form-control" placeholder="Payload" formControlName="payload">
          </textarea>
          <span [hidden]="!messageModel.hasError('required', 'payload')">Payload is required..</span>
          <span [hidden]="!messageModel.hasError('minlength', 'payload')">At least 2 characters in length</span>
        </div>
      </div>

      <div class="form-group row">
        <label for="delay" class="col-sm-2 col-form-label">Delay (in ms)</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" placeholder="delay" formControlName="delay" />
          <span [hidden]="!messageModel.hasError('required', 'delay')">Delay(ms) is required..</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10" *ngIf="!processing">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-10" *ngIf="processing">
          <button class="btn btn-primary disabled">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div *ngIf="processing">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <div *ngIf="!processing && messageAck" class="alert alert-success">
      <div class="row">
        <label for="id" class="col-sm-2">Id : </label>
        <span class="col-sm-4">{{messageAck.id}}</span>
      </div>
      <div class="row">
        <label for="message" class="col-sm-2">Recieved : </label>
        <span class="col-sm-4">{{messageAck.received}}</span>
      </div>
      <div class="row">
        <label for="Acked" class="col-sm-2">Acked : </label>
        <span class="col-sm-4">{{messageAck.ack}}</span>
      </div>
    </div>
    <div *ngIf="!processing && errMessage" class="alert alert-warning">
        <div class="row">
          <span class="col-sm-4">{{errMessage}}</span>
        </div>
      </div>
  </div>
</div>
